:root {
    --blue: rgba(6, 71, 137, 1);
    --light_blue: rgba(66, 122, 161, 1);
    --very_light_blue: rgba(235, 242, 250, 1);
    --green: rgba(103, 148, 54, 1);
    --light_green: rgba(165, 190, 0, 1);
}

body {
    margin: 2%;
    padding-bottom: 2%;
}

a, a:visited {
    text-decoration: none;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
}

.nav_button {
    color: var(--light_blue);
    font-size: calc(25px + 0.5vw);
}

.nav_button:hover {
    color: var(--blue);
}

#button_1 {
    padding-right: calc(10px + 1vw);
}

#button_2 {
    padding-right: calc(10px + 1vw);
}

.hr_nav_bar {
    margin-top: 1.5vw;
    margin-bottom: 1%;
    width: 100%;
    display: block;
    height: calc(3px + 0.01vw);
    border: 0;
    background-color: var(--very_light_blue);
}

/* Home portfolio styles */
.content_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content_item {
    width: calc(320px + 6vw);
    height: calc(320px + 6vw);
    margin: 2%;
    text-align: center;
    position: relative;
}

.content_item_search {
    margin: 2%;
    text-align: center;
    position: relative;
}

.content_item_search_date {
    margin: 1%;
    text-align: center;
    position: relative;
}

.content_image {
    object-fit: cover;
    width: calc(320px + 6vw);
    height: calc(320px + 6vw);
    margin: 2%;
}

.content_item:hover .content_text {
    visibility: visible;
    animation: fadeIn 0.25s;
}

.content_item:hover .content_title {
    visibility: hidden;
}



@keyframes fadeIn{
    0%{opacity:0;} 
    100%{opacity:1;}
}


.content_item:hover .content_image{
    filter: brightness(50%);
}

.content_title{
    color: var(--very_light_blue);
    visibility: visible;
    font-size: calc(20px + 0.3vw);
    padding-left: 2%;
    padding-right: 2%;
    position: absolute;  
    left: 20%;                        
    top: 95%;                         
    transform: translate(-50%, -50%);
}



.content_text{
    color: var(--very_light_blue);
    visibility: hidden;
    font-size: calc(15px + 0.3vw);
    padding-left: 2%;
    padding-right: 2%;
    position: absolute;  
    left: 50%;                        
    top: 50%;                         
    transform: translate(-50%, -50%);
}

.search_button {

}


